include _includes/sharedHTMLfunctions
extends layout

block content
  .row.page-header
    .col-lg-12
      h1= locations.name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(locations.rating)
          p= locations.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              each time in locations.openingTimes
                p 
                  | #{time.days} : 
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each label in locations.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{label}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{locations.coords.lat},#{locations.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{locations.coords.lat},#{locations.coords.lng}&scale=2&key=AIzaSyCZtc4-TUoS75ux0COBYBvJEy7s_MvOMEI')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in locations.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.timestamp
                    .col-xs-12
                      p= review.reviewText
    .col-xs-12.col-md-3
      p.lead #{locations.name} #{sidebar.context}
      p #{sidebar.callToAction}
